{{ template "_header.html" }}

<main>
    {{ if . }}
        <section>
            #{{ .ID }} {{ .Title }}
        </section>
    {{ end }}
    <section>
        <form method="post">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" required>
          <label for="description">Description</label>
          <input type="text" id="description" name="description" required>
          <input type="submit" value="+">
        </form>
    </section>
</main>

{{ template "_footer.html" }}
