{{ template "_header.html" }}

<main>
    {{ if len . }}
        {{ range . }}
            <article>
                <div class="flex">
                    <a href="/{{ .Task.Slug }}">{{ .Task.Title }}</a>
                    {{ if .Children }}
                        {{ $done := 0 }}
                        {{ range .Children }}
                            {{ if eq .Progress 100 }}
                                {{ $done = len (printf "a%*s" $done "") }}
                            {{ end }}
                        {{ end }}
                        <p>{{ $done }}/{{ len .Children }}</p>
                    {{ end }}
                </div>
                <progress value="{{ .Task.Progress }}" min="0" max="100"></progress>
            </article>
        {{ end }}
    {{ else }}
        <article>
            <main>
                <script>
                    Array.prototype.random = function () {
                      return this[(Math.random() * this.length) | 0];
                    }
                    let quote = [
                        [ "Life is short. Do stuff that matters.", "Siqi Chen" ],
                        [ "It always seems impossible until it's done.", "Nelson Mandela" ],
                        [ "Productivity is never an accident.", "Paul J. Meyer" ],
                        [ "If you spend too much time thinking about a thing, you'll never get it done.", "Bruce Lee" ],
                        [ "Your mind is for having ideas, not holding them.", "David Allen" ],
                        [ "You may delay, but time will not.", "Benjamin Franklin" ],
                        [ "The only way around is through.", "Robert Frost" ],
                        [ "The secret of getting things done is to act!", "Dante Alighieri" ],
                        [ "Procrastination is opportunity's assassin.", "Victor Kiam" ],
                        [ "Only put off until tomorrow what you are willing to die having left undone.", "Pablo Picasso" ],
                        [ "You can do anything, but not everything.", "David Allen" ],
                        [ "Pick battles big enough to matter, small enough to win.", "Jonathan Kozol" ],
                    ].random()
                    document.write("<blockquote>“" + quote[0] + "”<footer><cite>— " + quote[1] + "</cite></footer></blockquote>");
                </script>
            </main>
            <footer>
                <br />
                <progress />
            </footer>
        </article>
    {{ end }}
    <br />
    <footer>
        <form method="get" action="/_new">
            <input type="submit" value="+">
        </form>
    </footer>
</main>

{{ template "_footer.html" }}
