name: Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    name: go ${{ matrix.go }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.23', '1.24', '1.25' ]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}
    - name: Build
      run: |
        GO111MODULE=on go mod tidy
        CGO_ENABLED=1 go build -v
