name: Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'
    - name: Build
      run: |
        go mod tidy
        go build -v
