name: Release

on:
  push:
    tags:
      - '*.*.*'

permissions:
    contents: write
    packages: write

jobs:
  release:
    name: release linux/amd64
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'
    - name: Build
      run: |
        GO111MODULE=on go mod tidy
        CGO_ENABLED=1 go build -ldflags "-s -w" -v -o bbq
    - name: Optimize
      uses: crazy-max/ghaction-upx@v3
      with:
        version: latest
        files: ./bbq
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        prerelease: false
        files: bbq
        make_latest: true
